{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block monTitre %}Inscription{% endblock %}
{% block body %}

{{ form_start(form) }}
    {{ form_row(form.username, {
        "attr" : {
            "placeholder" : "Saisir votre nom d'utilisateur",
            "class" : "text-info"
        },
        "label" : "Nom d'utilisateur"
    }) }}

    {{ form_row(form.password, {
        "attr" : {
            "placeholder" : "Saisir votre mot de passe",
            "class" : "text-info"
        },
        "label" : "Mot de passe"
    }) }}

    {{ form_row(form.verificationPassword, {
        "attr" : {
            "placeholder" : "Ressaisir votre mot de passe",
            "class" : "text-info"
        },
        "label" : "Verification du mot de passe"
    }) }}

    {{ form_widget(form) }}

    <div class="row justify-content-end">
        <a href="{{path('accueil')}}" class="btn btn-primary m-3">Retour</a>
        <input type="submit" value="Valider" class ="btn btn-info m-3">
    </div>

{{ form_end(form) }}

{% endblock %}